:root {
  /* Color */
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-color: #ffffff;
  --basic-color: #757575;
  /* Transition style */
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}

.visually__hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: roboto, sans-serif;
  background-color: var(--primary-color);
  color: var(--basic-color);
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.font-style {
  font-style: normal;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__header {
  display: inline-block;
  margin-right: 93px;
}

.logo__part {
  color: #000000;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transition: transorm, opasity var(--time) var(--cubic), var(--time) var(--cubic);
  transition: transorm, opasity var(--time) var(--cubic), var(--time) var(--cubic);
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: fill var(--time) var(--cubic);
  transition: fill var(--time) var(--cubic);
}
.modal__btn:hover, .modal__btn:focus {
  fill: var(--accent-color);
}

.modal__label {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.form-group {
  margin-bottom: 20px;
}

.form-group__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.form-group__wraper {
  position: relative;
  margin-bottom: 10px;
}

.form-group__fild {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  -webkit-transition: outline var(--time) var(--cubic);
  transition: outline var(--time) var(--cubic);
}
.form-group__fild:focus {
  outline-color: var(--accent-color);
}

.form-group__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--time) var(--cubic);
  transition: fill var(--time) var(--cubic);
}

.form-group__fild:focus + .form-group__icon {
  fill: var(--accent-color);
}

.form-group__message {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  -webkit-transition: outline var(--time) var(--cubic);
  transition: outline var(--time) var(--cubic);
}
.form-group__message:focus {
  outline-color: var(--accent-color);
}

.consent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.consent__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
  -webkit-transition: background-size, background-color, outline-color, var(--time) var(--cubic);
  transition: background-size, background-color, outline-color, var(--time) var(--cubic);
}
.consent__checkbox .consent__checkbox:checked {
  outline-color: var(--accent-color);
  background-color: var(--accent-color);
  background-size: 11px 8px;
}

.consent__desc {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal-form-btn {
  padding: 10px 52px;
}

.consent__link {
  color: var(--accent-color);
  text-underline-offset: 3px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--time) var(--cubic), visibility var(--time) var(--cubic);
  transition: opacity var(--time) var(--cubic), visibility var(--time) var(--cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-30%);
          transform: translateX(-50%) translateY(-30%);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  position: relative;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  gap: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  -webkit-transition: color var(--time) var(--cubic);
  transition: color var(--time) var(--cubic);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link--current::after {
  position: absolute;
  left: 0px;
  bottom: 0px;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.nav__link--current {
  color: var(--accent-color);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--basic-color);
  -webkit-transition: color var(--time) var(--cubic);
  transition: color var(--time) var(--cubic);
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #2f303a;
  padding: 200px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.button-primary {
  margin: auto;
  margin-top: 0px;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition: background-color var(--time) var(--cubic);
  transition: background-color var(--time) var(--cubic);
}
.button-primary:hover, .button-primary:focus {
  background-color: #188ce8;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefits__item {
  width: 270px;
}

.benefits__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits__subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.benefits__descripnion {
  width: 270px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.case {
  padding-top: 0;
}

.case__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.case__item {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.overlay__text {
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.card__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--primary-color);
}

.card__wrapper {
  padding: 30px 0;
}

.card__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.card__description {
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.social__icon {
  fill: currentColor;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: var(--time);
          transition-duration: var(--time);
  -webkit-transition-timing-function: var(--cubic);
          transition-timing-function: var(--cubic);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition-property: border, color;
  transition-property: border, color;
  -webkit-transition-duration: var(--time);
          transition-duration: var(--time);
  -webkit-transition-timing-function: var(--cubic);
          transition-timing-function: var(--cubic);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.logo__footer {
  display: block;
  margin-bottom: 20px;
}

.logo__part--secondary {
  color: var(--primary-color);
}

.footer__wrapper--adress {
  margin-right: 70px;
  min-width: 231px;
}

.footer__wrapper--social {
  margin-right: 93px;
}

.footer__wrapper--email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.adress__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
}

.adress__link {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.adress__link-contact {
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.adress__link-contact:hover, .adress__link-contact:focus {
  color: var(--accent-color);
}

.footer > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.social__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social__icon--footer {
  fill: var(--primary-color);
}

.form__action {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.button__icon {
  fill: var(--primary-color);
  margin-left: 10px;
}

.form__input-fild {
  width: 357px;
  height: 100%;
  padding: 15px 16px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: outline-color, color, var(--time) var(--cubic);
  transition: outline-color, color, var(--time) var(--cubic);
}
.form__input-fild:focus {
  outline-color: var(--accent-color);
  color: var(--primary-color);
}

.form__input-fild:not(:-moz-placeholder-shown) {
  outline-color: var(--accent-color);
  color: var(--primary-color);
}

.form__input-fild:not(:-ms-input-placeholder) {
  outline-color: var(--accent-color);
  color: var(--primary-color);
}

.form__input-fild:not(:placeholder-shown) {
  outline-color: var(--accent-color);
  color: var(--primary-color);
}

.portfolio-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.frame {
  padding: 20px 24px;
  width: 370;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 6px 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: transparent;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  cursor: pointer;
  -webkit-transition: color, background-color, -webkit-box-shadow;
  transition: color, background-color, -webkit-box-shadow;
  transition: color, background-color, box-shadow;
  transition: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--time);
          transition-duration: var(--time);
  -webkit-transition-timing-function: var(--cubic);
          transition-timing-function: var(--cubic);
}

.button:hover,
.button:focus {
  color: var(--primary-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projekt-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.projekt-items {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.overley-portfolio {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: var(--time);
          transition-duration: var(--time);
  -webkit-transition-timing-function: var(--cubic);
          transition-timing-function: var(--cubic);
}

.portfolio-items:hover .overley-portfolio {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-items {
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow var(--time) var(--cubic);
  transition: -webkit-box-shadow var(--time) var(--cubic);
  transition: box-shadow var(--time) var(--cubic);
  transition: box-shadow var(--time) var(--cubic), -webkit-box-shadow var(--time) var(--cubic);
}

.portfolio-items:hover,
.portfolio-items:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}/*# sourceMappingURL=main.css.map */